//He conseguido realizar el partial, pero voy a seguir trabajando sin el por que
me da algún error y no puedo editarlo.

<div>
  <img src='{{this.image_url}}' alt='beer-image' height='200px' />
  <h3>{{this.name}}</h3>
  <p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
  <p>Hola</p>
</div>